@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*LANDING PAGE*/
.landing-page{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.landing-page .text-box{
    position: relative;
    max-width: 600px;

}
.landing-page .text-box h2{
    color:  blue;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 800;
    font-family:'Poppins', sans-serif ;
}
.landing-page .text-box h2 span{
    color: #ff00ff;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 800;
    font-family:'Poppins', sans-serif ;
}
.landing-page .text-box p{
    color: wheat;
    font-size: 20px;
    font-family:'Poppins', sans-serif  ;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: blue;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}



/*NAVBAR*/
.wrapper{
    background-color: blanchedalmond;
    height: 90px;
}


nav{
    display: flex;
    padding: 1% 6% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: blue;
    text-decoration: none;
    font-size: 23px;
    font-family:'Poppins', sans-serif ;
}

.nav-links ul li:after{
    content: '';
    width: 0;
    height: 2px;
    background: tomato;
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}