{{#partial "content"}}

    <div class = "row">
        <div class = "col-sm-6" >
            <h3>Animals</h3>
        </div>
<!--        <div class = "col-sm-6" >-->
<!--            <h3>Endangered Animals </h3>-->
<!--            #if ($animals.size() == 0)-->
<!--            <a href="/animals/new">Add Animal to Database to Report a Sighting</a>-->
<!--            #else-->
<!--            #foreach ($animal in $animals)-->
<!--            <div class="card">-->
<!--                    <h4>$animal.getName()</h4>-->
<!--                    <h4>$animal.getSightings().size() Reported Sighting </h4>-->
<!--                    <a href="/animal/$animal.getId()">-->
<!--                       Learn more-->
<!--                    </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>

{{/partial}}
{{>nav.hbs}}