{{#partial "content"}}

    <div class = "row">
        <div class="col-sm-6">
            <h1>All animals</h1>
            <strong>Location:</strong> {{id}}
            </br><strong>Health:</strong> {{name}}
        </div>
    </div>
    </div>

{{/partial}}
{{>nav.hbs}}