{{#partial "content"}}
    <section class = "landing-form">
        <div class = "text-box">
            <h2>Join Me And Save Our <span>Wildlife</span></h2>
            <p>What did you spot today ? </p>
            <a href="/animals/new" class = "btn" >Animals</a>
            <a href="/endangeredanimals/new" class = "btn" >EndangeredAnimals</a>
  <!--            <a href="./sighting-form.hbs"><button class = "wild-btn" >Record Sighting</button></a>-->
        </div>
    </section>
{{/partial}}
{{>nav.hbs}}