{{#partial "content"}}
    <section class = "landing-page">
        <div class = "content">
            <h4>Join me and save our wildlife</h4>
            <a href="./animal-form.hbs"><button class = "wild-btn" >Animals</button></a>
            <a href="./endangered-form.hbs"><button class = "wild-btn">EndangeredAnimals</button></a>
<!--        <a href="./sighting-form.hbs"><button class = "wild-btn" >Record Sighting</button></a>-->
        </div>
    </section>
{{/partial}}
{{>nav.hbs}}