{{#block "header"}}

    <!DOCTYPE html>
    <html lang="en"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Wildlife Tracker</title>
    </head>
    <body>
    <header>
        <section class = "wrapper">
            <nav>
                <a href="#"><img src="images/logo.jpg" ></a>
               <div class = "nav-links">
                   <ul>
                       <li><a href="/">Home</a></li>
                       <li><a href="/Animals.hbs">Animals</a></li>
                       <li><a href="/EndangeredAnimals.hbs">EndangeredAnimals</a></li>
                       <li><a href="/Sightings.hbs">Sightings</a></li>
                   </ul>
               </div>
            </nav>
        </section>
    </header>
{{/block}}

{{#block "content"}}
    ///content
{{/block}}

{{#block "footer"}}

{{/block}}